body {
  background-color: #e4e6eb;
  font-family: "Assistant", sans-serif;
  color: #2f4f4f;
}

.navbar-brand {
  img {
    max-height: 40px;
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #2f4f4f;

      &.active {
        font-weight: bold;
        color: #2f4f4f !important;
      }
    }
  }
}

//Navbar

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;

  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #2f4f4f;
  color: #ffff;

  &:hover {
    background-color: #1e3771;
    color: #ffff;
  }
}

// Header

header {
  padding: 180px 0 165px;
  margin-top: -70px;
  background-image: url("../images/header2.jpg");
  background-size: cover;
  background-attachment:fixed;

  h1,
  p {
    color: #fff;
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 50px;
  }

  p {
    font-size: 22px;
  }

  .btn-get-started {
    background-color: #ff9e53;
    color: #fff;

    &:hover {
      background-color: #ffaa69;
      color: #fff;
    }
  }
}

// Statistik

.section-stats {
  margin-top: -50px;

  .stats-detail {
    padding-top: 18px;
    background-color: #fff;
    padding-left: 54px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 0;
  }

  p {
    font-size: 20px;
    font-weight: lighter;
  }
}

// Popular

.section-popular {
  min-height: 540px;
  background-color: #2f4f4f;
  margin-top: -50px;
  margin-bottom: -230px;

  .section-popular-heading {
    margin-top: 150px;

    h2,
    p {
      color: #fff;
    }

    h2 {
      font-family: "Playfair Display", serif;
      font-weight: bold;
      font-size: 40px;
    }

    p {
      font-size: 18px;
    }
  }
}

.section-popular-content {
  .section-popular-travel {
    .card-travel {
      min-height: 380px;
      background-color: #000;
      color: #fff;
      padding: 30px;
      background-size: cover;
      margin-bottom: 20px;
    }

    .travel-country {
      font-size: 18px;
      color: #fff;
    }

    .travel-location {
      font-size: 26px;
      color: #fff;
    }

    .travel-button {
      .btn-travel-details {
        background-color: #ff9e53;
        color: #fff;

        &:hover {
          background-color: #ffaa69;
          color: #fff;
        }
      }
    }
  }
}

.section-networks {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;

  h2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }

  img {
    max-width: 100%;
  }
}

.section-testimonial-heading {
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
  padding-top: 50px;
  min-height: 506px;

  h2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;

  .card-testimonial {
    padding: 40px 20px 10px;
    border-radius: 11px;
    margin-bottom: 20px;

    .testimonial-content {
      min-height: 380px;
    }

    h3 {
      font-size: 22px;
    }

    .testimonial {
      font-weight: 200;
      font-size: 26px;
      color: #6e6e6e;
      min-height: 350px;
    }

    .trip-to {
      font-weight: normal;
      font-size: 22px;
      color: #6e6e6e;
    }
  }

  .btn-get-started {
    background-color: #ff9e53;
        color: #fff;

        &:hover {
          background-color: #ffaa69;
          color: #fff;
    }
  }
  
  .btn-need-help {
    background-color: #f2f2f2;
        color: #c3c3c3;

        &:hover {
          background-color: #fafafa;
          color: #c3c3c3;
    }
  }
}

.section-footer {
  a{
    color: #071c4d;
    
  }
}