body {
  background-color: #e4e6eb;
  font-family: "Assistant", sans-serif;
  color: #2f4f4f;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #2f4f4f;
}
.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #2f4f4f !important;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #2f4f4f;
  color: white;
}
.btn-login:hover {
  background-color: #1e3771;
  color: white;
}

header {
  padding: 180px 0 165px;
  margin-top: -70px;
  background-image: url("../images/header2.jpg");
  background-size: cover;
  background-attachment: fixed;
}
header h1,
header p {
  color: #fff;
}
header h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 50px;
}
header p {
  font-size: 22px;
}
header .btn-get-started {
  background-color: #ff9e53;
  color: #fff;
}
header .btn-get-started:hover {
  background-color: #ffaa69;
  color: #fff;
}

.section-stats {
  margin-top: -50px;
}
.section-stats .stats-detail {
  padding-top: 18px;
  background-color: #fff;
  padding-left: 54px;
}
.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}
.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-popular {
  min-height: 540px;
  background-color: #2f4f4f;
  margin-top: -50px;
  margin-bottom: -230px;
}
.section-popular .section-popular-heading {
  margin-top: 150px;
}
.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: #fff;
}
.section-popular .section-popular-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}
.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #000;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}
.section-popular-content .section-popular-travel .travel-country {
  font-size: 18px;
  color: #fff;
}
.section-popular-content .section-popular-travel .travel-location {
  font-size: 26px;
  color: #fff;
}
.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: #ff9e53;
  color: #fff;
}
.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #ffaa69;
  color: #fff;
}

.section-networks {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;
}
.section-networks h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}
.section-networks p {
  font-size: 18px;
}
.section-networks img {
  max-width: 100%;
}

.section-testimonial-heading {
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
  padding-top: 50px;
  min-height: 506px;
}
.section-testimonial-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}
.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}
.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}
.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 380px;
}
.section-testimonial-content .card-testimonial h3 {
  font-size: 22px;
}
.section-testimonial-content .card-testimonial .testimonial {
  font-weight: 200;
  font-size: 26px;
  color: #6e6e6e;
  min-height: 350px;
}
.section-testimonial-content .card-testimonial .trip-to {
  font-weight: normal;
  font-size: 22px;
  color: #6e6e6e;
}
.section-testimonial-content .btn-get-started {
  background-color: #ff9e53;
  color: #fff;
}
.section-testimonial-content .btn-get-started:hover {
  background-color: #ffaa69;
  color: #fff;
}
.section-testimonial-content .btn-need-help {
  background-color: #f2f2f2;
  color: #c3c3c3;
}
.section-testimonial-content .btn-need-help:hover {
  background-color: #fafafa;
  color: #c3c3c3;
}

.section-footer a {
  color: #071c4d;
}/*# sourceMappingURL=main.css.map */